amd-ucode
base
base-devel
btop
cmake
curl
darkhttpd
ffmpeg
gcc12
git
grml-zsh-config
htop
intel-ucode
less
linux
linux-firmware
mkinitcpio
mkinitcpio-archiso
mkinitcpio-nfs-utils
nano
ncdu
neofetch
net-tools
nfs-utils
nodejs
npm
ntfs-3g
nvtop
openssh
progress
pv
python-pip
qemu-guest-agent
rdfind
reptyr
screen
sudo
syslinux
wget
zsh

{% if platform == "cuda" %}
# CUDA
cuda
nvidia
nvidia-utils
{% endif %}

{% if platform == "rocm" %}
# ROCm
rocm-hip-sdk

# Required for SillyTavern-Extras
gtk3
{% endif %}

{% if type == "gui" %}
# GUI
feh
nodm
obconf
openbox
tint2
ttf-dejavu
ttf-liberation
xorg
xorg-xinit

# GUI applications
firefox
kmahjongg
kmines
konsole
kpat
ksudoku
{% endif %}
