name: Build ISO on hosted runner ({{ "CUDA" if type == "cuda" else "ROCm" }}{{ ", empty" if empty else "" }})

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
{% if not empty or type == "rocm" %}
      - name: Cleanup
        uses: rokibhasansagar/slimhub_actions@main
        with:
          retain: "docker_buildkit,docker_imgcache"
{% endif %}

      - name: Checkout repository
        uses: actions/checkout@v4
{% if not empty %}
        with:
          submodules: recursive
{% endif %}

      - name: Build image
        uses: addnab/docker-run-action@v3
        with:
          image: archlinux:latest
{% raw %}
          options: --privileged --volume ${{ github.workspace }}:/workspace
{% endraw %}
          run: |
            # Exit on error
            set -eu

            # Enter project directory
            pushd /workspace
              # Install dependencies
              .ci/dependencies.sh

              # Patch mkarchiso
              .ci/mkarchiso.sh

              {% if empty %}
              # Remove repositories
              .ci/empty.sh
              {% endif %}

              # Configure to use {{ "CUDA" if type == "cuda" else "ROCm" }}
              .ci/configure.py {{ type }} {{ empty }}
            popd

            # Build image
            mkarchiso -v -m iso -w /_work -o /workspace/out /workspace

      - name: Create summary
        run: |
          # Exit on error
          set -eu

          # Print checksums to summary
          sha256sum out/* > "$GITHUB_STEP_SUMMARY"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: archiso-output
          path: out/
