name: Build ISO on hosted runner ({{ "CUDA" if platform == "cuda" else "ROCm" }}, {{ type }})

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
{% if type != "empty" or platform == "rocm" %}
      - name: Cleanup
        uses: rokibhasansagar/slimhub_actions@main
        with:
          retain: "docker_buildkit,docker_imgcache"
{% endif %}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build image
        uses: addnab/docker-run-action@v3
        with:
          image: archlinux:latest
{% raw %}
          options: --privileged --volume ${{ github.workspace }}:/workspace
{% endraw %}
          run: |
            # Exit on error
            set -eu

            # Enter project directory
            pushd /workspace
              # Install dependencies
              .ci/dependencies.sh

              # Patch mkarchiso
              .ci/mkarchiso.sh

              {% if type == "empty" %}
              # Remove repositories
              .ci/empty.sh
              {% endif %}

              # Configure to use {{ "CUDA" if platform == "cuda" else "ROCm" }}
              .ci/configure.py {{ platform }} {{ type }}
            popd

            # Build image
            mkarchiso -v -m iso -w /_work -o /workspace/out /workspace

      - name: Create summary
        run: |
          # Exit on error
          set -eu

          # Start code section
          echo '`' > "$GITHUB_STEP_SUMMARY"

          # Print checksums
          sha256sum out/* | sed 's/out\///' >> "$GITHUB_STEP_SUMMARY"

          # End code section
          echo '`' >> "$GITHUB_STEP_SUMMARY"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: archiso-output
          path: out/
