name: Build ISO on selfhosted runner ({{ "CUDA" if type == "cuda" else "ROCm" }})

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build image
        uses: addnab/docker-run-action@v3
        with:
          image: archlinux:latest
{%- raw %}
          options: --privileged --rm --volume ${{ github.workspace }}:/workspace
{%- endraw %}
          run: |
            # Exit on error
            set -eu

            # Enter project directory
            pushd /workspace
              # Install dependencies
              .ci/dependencies.sh

              # Patch mkarchiso
              .ci/mkarchiso.sh

              # Configure to use {{ "CUDA" if type == "cuda" else "ROCm" }}
              .ci/configure.py {{ type }}
            popd

            # Build image
            mkarchiso -v -m iso -w /workspace/work -o /workspace/out /workspace

      - name: Create summary
        run: |
          # Exit on error
          set -eu

          # Print checksums to summary
          sha256sum out/* > "$GITHUB_STEP_SUMMARY"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: archiso-output
          path: out/
