name: Build ISO on selfhosted runner ({{ "CUDA" if type == "cuda" else "ROCm" }})

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  vm-start:
    runs-on: ubuntu-latest

    steps:
      - name: Save private key
        run: |
          # Save private key
          echo "$SSH_PRIVATE_KEY" | base64 -d > /tmp/private.key

          # Change permissions
          chmod 600 /tmp/private.key

      - name: Start Github Actions Runner VM
        run: |
          ssh -i /tmp/private.key $SSH_HOST "virsh --connect=qemu:///system start GithubActions"

  build:
    needs: vm-start
    runs-on: self-hosted

    steps:
      - name: Remove previous artifacts
        run: |
          sudo rm -fr out/

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build image
        uses: addnab/docker-run-action@v3
        with:
          image: archlinux:latest
{%- raw %}
          options: --privileged --rm --volume ${{ github.workspace }}:/workspace
{%- endraw %}
          run: |
            # Exit on error
            set -eu

            # Enter project directory
            pushd /workspace
              # Install dependencies
              .ci/dependencies.sh

              # Patch mkarchiso
              .ci/mkarchiso.sh

              # Configure to use {{ "CUDA" if type == "cuda" else "ROCm" }}
              .ci/configure.py {{ type }}
            popd

            # Build image
            mkarchiso -v -m iso -w /_work -o /workspace/out /workspace

      - name: Create summary
        run: |
          # Exit on error
          set -eu

          # Print checksums to summary
          sha256sum out/* > "$GITHUB_STEP_SUMMARY"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: archiso-output
          path: out/

  vm-stop:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Save private key
        run: |
          # Save private key
          echo "$SSH_PRIVATE_KEY" | base64 -d > /tmp/private.key

          # Change permissions
          chmod 600 /tmp/private.key

      - name: Stop Github Actions Runner VM
        run: |
          ssh -i /tmp/private.key $SSH_HOST "virsh --connect=qemu:///system shutdown GithubActions"
