[Unit]
Description=A daemon that automatically manages the performance states of NVIDIA GPUs.

[Service]
DynamicUser=yes
ExecStart=/usr/local/bin/nvidia-pstated
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
