#!/bin/bash
set -eu

##### ENVIRONMENT VARIABLES #####
# customize_airootfs temporary directory
export CUSTOMIZE_AIROOTFS=/root/customize_airootfs

# home directory
export HOME=/home/tori

# path
export PATH=$HOME/.local/bin:$PATH

# directory with patches
export TORI_PATCHES=$HOME/.local/share/tori/patches
##### ENVIRONMENT VARIABLES #####

# set user password
echo "tori:tori" | chpasswd

# remove any jinja2 files in root directory
find /root -type f -name "*.jinja2" -print -delete

{% if platform == "cuda" %}
# download nvidia-pstated
wget "{{ gh_release("nvidia_pstated") }}" -O "/usr/local/bin/nvidia-pstated"

# mark nvidia-pstated as executable
chmod +x "/usr/local/bin/nvidia-pstated"

# enable nvidia-persistenced service
systemctl enable nvidia-persistenced
{% endif %}

{% if type == "gui" %}
# enable ly
systemctl enable ly
{% endif %}

# install transient-package
su tori -c "pipx install transient-package"

{% if type != "empty" %}
# enter home directory
cd "/home/tori"

# execute scripts
for script in $CUSTOMIZE_AIROOTFS/scripts/*.sh; do
  # print current script
  echo "===> Executing script $script"

  # add execution permission
  chmod +x "$script"

  # launch script as user
  su tori -c "$script"

  {% if platform == "rocm" %}
  rdfind -checksum sha256 -makehardlinks true -makeresultsfile false "."
  {% endif %}
done
{% endif %}

# remove customize_airootfs temporary directory
rm -fr "$CUSTOMIZE_AIROOTFS"
