#!/bin/bash
set -eu

# move new os-release to its place
mv /usr/lib/os-release.new /usr/lib/os-release

# set user password
echo "tori:tori" | chpasswd

# remove any jinja2 files in root directory
find /root -type f -name "*.jinja2" -print -delete

{% if CUDA %}
# install nvidia-pstate if cuda
pip3 install --break-system-packages nvidia-pstate
{% endif %}

{% if ROCm %}
# remove nvidia-persistenced if rocm
rm -f /etc/systemd/system/multi-user.target.wants/nvidia-persistenced.service
{% endif %}

# customize_airootfs temporary directory
export CUSTOMIZE_AIROOTFS=/root/customize_airootfs

{% if not empty %}
# enter home directory
cd "/home/tori"

# execute scripts
for script in $CUSTOMIZE_AIROOTFS/scripts/*.sh; do
  # print current script
  echo "===> Executing script $script"

  # add execution permission
  chmod +x "$script"

  # launch script as user
  su tori -c "$script"
done
{% endif %}

# remove customize_airootfs temporary directory
rm -fr "$CUSTOMIZE_AIROOTFS"
