#!/bin/sh
set -eu

# clone repository
git clone "{{ repositories.koboldcpp }}"

# koboldcpp patches
pushd "koboldcpp"
  # use specific revision
  git checkout "{{ revisions.koboldcpp }}"

  # create branch
  git checkout -b tori

  {% if platform == "cuda" %}
  # drop pstate in idle
  patch -p1 < "$TORI_PATCHES/0000-koboldcpp-drop-pstate-in-idle.patch"
  {% endif %}

  {% if platform == "cuda" %}
  # commit changes
  git add .
  git commit -m "Apply patches"
  {% endif %}
popd
