#!/bin/sh
set -eu

{% if platform == "cuda" %}
# install vllm
pipx install "{{ gh_release("vllm", 1) }}"

# install triton with pascal patches
pipx runpip vllm install --force-reinstall --no-deps --upgrade "{{ gh_release("vllm", 0) }}"

# install nvidia-pstate
pipx inject vllm nvidia-pstate

# apply patches
pushd "$HOME/.local/share/pipx/venvs/vllm/lib/python3.11/site-packages"
  # drop pstate in idle
  patch -p1 < "$TORI_PATCHES/0000-vllm-drop-pstate-in-idle.patch"
popd
{% endif %}
