#!/bin/sh
set -eu

# clone repository
git clone "https://github.com/LostRuins/koboldcpp.git"

# koboldcpp patches
pushd "koboldcpp"
  # use specific revision
  git checkout f3b7651102c3ce3e4f331b93137dc32d752eada0

{% if platform == "cuda" %}
  # drop pstate in idle
  patch -p1 < "$CUSTOMIZE_AIROOTFS/patches/0000-koboldcpp-drop-pstate-in-idle.patch"
{% endif %}
popd
