#!/bin/bash
set -eu

{% if platform == "cuda" %}
# clone repository
git clone "{{ repositories.axolotl }}"

# axolotl patches
pushd "axolotl"
  # use specific revision
  git checkout "{{ revisions.axolotl }}"

  # create branch
  git checkout -b tori
popd

# axolotl dependencies
pushd "axolotl"
  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
    {% if platform == "cuda" %}
    # install nvidia-pstate
    pip3 install nvidia-pstate
    {% endif %}

    # install dependencies
    # TODO: install specific torch version
    pip3 install packaging torch==2.1.1 wheel

    # install axolotl
    pip3 install -e ".[flash-attn,deepspeed]"

    # downgrade flash-attn (https://github.com/OpenAccess-AI-Collective/axolotl/issues/911#issuecomment-1868546443)
    pip3 install flash-attn==2.3.2
  deactivate
popd
{% endif %}
