#!/bin/bash
set -eu

# SillyTavern-Extras dependencies
pushd "SillyTavern-Extras"
  # disable package caching
  export PIP_NO_CACHE_DIR=0

  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
{% if CUDA %}
    # install dependencies (cuda)
    pip3 install -r requirements.txt
{% endif %}

{% if ROCm %}
    # install dependencies (rocm)
    pip3 install -r requirements-rocm.txt
{% endif %}

{% if CUDA %}
    # install remaining dependencies
    pip3 install -r requirements-coqui.txt
    pip3 install -r requirements-rvc.txt
  deactivate
{% endif %}
popd
