#!/bin/bash
set -eu

# clone repository
git clone "{{ repositories.comfyui }}"

# ComfyUI patches
pushd "ComfyUI"
  # use specific revision
  git checkout "{{ revisions.comfyui }}"
popd

# ComfyUI dependencies
pushd "ComfyUI"
  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
    {% if platform == "cuda" %}
    # install nvidia-pstate if cuda
    pip3 install nvidia-pstate
    {% endif %}

    {% if platform == "rocm" %}
    # extract pytorch version
    index_url=$(grep -o 'https://download.pytorch.org/whl/rocm[0-9.]*' README.md)

    # install pytorch
    pip3 install torch torchvision torchaudio --index-url "$index_url"
    {% endif %}

    # install dependencies
    pip3 install -r requirements.txt
  deactivate
popd
