#!/bin/bash
set -eu

# clone repository
git clone "{{ repositories.automatic }}"

# automatic patches
pushd "automatic"
  # use specific revision
  git checkout "{{ revisions.automatic }}"

  # create branch
  git checkout -b tori

  # clone submodules
  git submodule update --init --recursive

  {% if platform == "cuda" %}
  # drop pstate in idle
  patch -p1 < "$TORI_PATCHES/0000-automatic-drop-pstate-in-idle.patch"
  {% endif %}

  {% if platform == "cuda" %}
  # commit changes
  git add .
  git commit -m "Apply patches"
  {% endif %}
popd

# automatic dependencies
pushd "automatic"
  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
    {% if platform == "cuda" %}
    # install nvidia-pstate
    pip3 install nvidia-pstate
    {% endif %}

    # install dependencies
    python3 launch.py --test
  deactivate
popd
