#!/bin/bash
set -eu

# clone repository
git clone "https://github.com/oobabooga/text-generation-webui.git"

# text-generation-webui patches
pushd "text-generation-webui"
  # use specific revision
  git checkout 91a7370a655881c55274284509a546ffd644dc16
popd

# text-generation-webui dependencies
pushd "text-generation-webui"
  # disable package caching
  export PIP_NO_CACHE_DIR=0

  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
{% if platform == "cuda" %}
    # install dependencies (cuda)
    pip3 install -r requirements.txt
{% endif %}

{% if platform == "rocm" %}
    # extract pytorch version
    index_url=$(grep -m1 -o 'https://download.pytorch.org/whl/rocm[0-9.]*' one_click.py)

    # install pytorch
    pip3 install torch torchvision torchaudio --index-url "$index_url"

    # install dependencies (rocm)
    pip3 install -r requirements_amd.txt
{% endif %}
  deactivate
popd
