#!/bin/bash
set -eu

{% if platform == "cuda" %}
# clone repository
git clone "{{ repositories.text_generation_inference }}"

# text-generation-inference patches
pushd "text-generation-inference"
  # use specific revision
  git checkout "{{ revisions.text_generation_inference }}"
popd

# text-generation-inference dependencies
pushd "text-generation-inference"
  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
    {% if platform == "cuda" %}
    # install nvidia-pstate
    pip3 install nvidia-pstate
    {% endif %}

    # install tgi
    BUILD_EXTENSIONS=True make install
  deactivate
popd
{% endif %}
