#!/bin/bash
set -eu

# clone repository
git clone "{{ repositories.sillytavern_extras }}"

# SillyTavern-Extras patches
pushd "SillyTavern-Extras"
  # use specific revision
  git checkout "{{ revisions.sillytavern_extras }}"
popd

# SillyTavern-Extras dependencies
pushd "SillyTavern-Extras"
  # create venv
  python3 -m venv venv

  # activate venv
  source venv/bin/activate
    {% if platform == "cuda" %}
    # install nvidia-pstate
    pip3 install nvidia-pstate
    {% endif %}

    {% if platform == "cuda" %}
    # install dependencies (cuda)
    pip3 install -r requirements.txt
    {% endif %}

    {% if platform == "rocm" %}
    # install dependencies (rocm)
    pip3 install -r requirements-rocm.txt
    {% endif %}

    # install remaining dependencies
    pip3 install -r requirements-coqui.txt
    pip3 install -r requirements-rvc.txt
  deactivate
popd
