#!/bin/sh
set -eu

# clone repository
git clone "{{ repositories.koboldcpp }}"

# koboldcpp patches
pushd "koboldcpp"
  # use specific revision
  git checkout "{{ revisions.koboldcpp }}"

{% if platform == "cuda" %}
  # drop pstate in idle
  patch -p1 < "$CUSTOMIZE_AIROOTFS/patches/0000-koboldcpp-drop-pstate-in-idle.patch"
{% endif %}
popd
