#!/bin/sh
set -eu

# clone repository
git clone "{{ repositories.llamacpp }}.git"

# llama.cpp patches
pushd "llama.cpp"
  # use specific revision
  git checkout "{{ revisions.llamacpp }}"

  # create branch
  git checkout -b tori

  {% if platform == "cuda" %}
  # drop pstate in idle
  patch -p1 < "$TORI_PATCHES/0000-llamacpp-server-drop-pstate-in-idle.patch"
  {% endif %}

  {% if platform == "cuda" %}
  # commit changes
  git add .
  git commit -m "Apply patches"
  {% endif %}
popd
