#!/bin/bash
set -eu

# cache
find /home/tori/.cache -mindepth 1 -maxdepth 1 -not -name "ccache" -exec rm -r {} +

# matplotlib
rm -fr /home/tori/.config/matplotlib

# keras
rm -fr /home/tori/.keras

# npm
rm -fr /home/tori/.npm

# automatic installation config
rm -f /home/tori/automatic/config.json

# automatic installation log
rm -f /home/tori/automatic/sdnext.log
