#!/bin/bash
set -eu

# cache
rm -fr /home/tori/.cache

# matplotlib
rm -fr /home/tori/.config/matplotlib

# keras
rm -fr /home/tori/.keras

{% if ROCm %}
# remove axolotl if rocm
rm -fr /home/tori/axolotl
{% endif %}
