#!/bin/bash
set -eu

# cache
rm -fr /home/tori/.cache

# matplotlib
rm -fr /home/tori/.config/matplotlib

# keras
rm -fr /home/tori/.keras

# npm
rm -fr /home/tori/.npm

# automatic installation config
rm -f /home/tori/automatic/config.json

# automatic installation log
rm -f /home/tori/automatic/sdnext.log
